p {
  font-size: 33px;
}
.one {
  font-family: Gloock, Arial, Helvetica, sans-serif;
}
.two {
  font-family: Tilt Prism, Arial, Helvetica, sans-serif;
}
.three {
  font-family: "Shantell Sans", cursive, Arial, Helvetica, sans-serif;
}
.four {
  font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif;
}
